* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(124 3.2% 15.1%);
}