* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(124 3.2% 15.1%);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: hsl(124 3.2% 30.1%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem 1.5rem;
  z-index: 1000;
}

/* NAVBAR LINKS */
.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: .25rem;
}

.nav li:hover {
  color: #aaa;
}
