h1 {
    color: ghostwhite;
}

#card_list {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    background: hsl(124 3.2% 25.1%);
    color: ghostwhite;
    border-radius: 0;
    padding: 30px 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
#card {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 40px;
    aspect-ratio: 7 / 3;
    font-size: 30px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

#card:hover {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8); /* Cyan glow on hover */
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    width: 15%;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-align: center;
}

button .icon {
    color: #333;
}

button .icon2 {
    color: red;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    margin: 30px 0;
    border-radius: 8px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: darkgrey;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
}

