.wrapper {
    width: 420px;
    background: hsl(105, 3%, 25%);
    color: ghostwhite;
    border-radius: 8px;
    padding: 30px 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    margin: 30px 0;
    border-radius: 8px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: darkgrey;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
}

.wrapper button {
    width: 50%;
    height: 45px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-align: center;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p  a:hover {
    text-decoration: underline;
}