* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
    background: hsl(124 3.2% 30.1%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: #555;
}

.nav li:hover {
    color: #777;
}

.icon{
    position: left;
    top: 50%;
    font-size: 25px;
    color: white;
}

.title-icon {
  display: flex;             
  align-items: center;       
  gap: 0.5rem;               
}